p{
  color:brown;
  font-family:fantasy;
  font-size: 15px;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5GVzEYUvyfZZ9I1K57YPk9Yx0eIfTzuweog&s);
  margin-right:75.5rem;
}
